<!DOCTYPE html>
<html>
    <head>
        <title>wymco ggwp</title>
        <style>
            h1 {
                background-color: black
            }
        </style>
    </head>
    <body>
        <h1>balsh balsh</h1>
         <form>
            <label for="first name">first name</label>
            <input type="text" id="name"><br>
            <br>
            <label for="full name">full name</label>
            <input type="text" id="name"><br>
            <br>
            <input type="radio" namre="male" id ="male">
            <label for="male">male</label><br>
            <Br>
            <input type="radio" name="female" id="female">
            <label for="feamle">feamle</label><br>
            <br>
            <select>
                <option>1</option> 
                <option>2</option>
                <option>3</option>
            </select>
        </form>
    </body>
</html>